
/* @media only screen and (min-width: 768px) {
    .about-section {
        background: #014E56;
        overflow: hidden;
        position: relative;
        width: 100vw;
    }

    .about-section p {
        color: white;
        font-size: 15px;
        font-weight: 600;
        line-height: 28px;
        text-align: center;
        margin: 0;
        padding: 0px 153px 102px 158px;
    }

    .about-section h1 {
        width: 683px;
        height: 56px;
        font-size: 64px;
        font-weight: 700;
        text-align: center;
        margin: 0;
        padding: 33px 40px 34px 45px;
    }
 
    .about-section img {
        width: 200px;
        position: absolute;
        right: -100px;
        bottom: 100px;
    }
} */