/* @import url("/assets/styles/general.css"); */

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #014e56;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 48px;
    padding-bottom: 30px;
    min-width: 200px;
}

.logo {
    cursor: pointer;
    width: 126px;
    height: 32px;
    left: 24px;
    top: 48px;
}

.nav__links li {
    display: none;
}

button {
    display: none;
}

.ham-menu-icon {
    cursor: pointer;
    transition: all 0.3s ease 0;
    padding-left: 25px;
}

.cta {
    margin-left: auto;
    margin-right: 0;
}


html {
    box-sizing: border-box;
}

#section2AboutMobile {
    position: relative;
    background-color: #F67E7E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    padding-bottom: 83px;

}

#section2AboutMobile p {
    color: #012F34;
    font-family: "Livvic";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    padding: 83px 24px 0 24px;
    white-space: initial;
    text-align: center;

    /* margin: 83px 24px 24px 0; */
}

#section2MobileId {
    color: #012F34;
    background-color: inherit;
    border: 2px solid #012F34;
    border-radius: 24px;
    text-transform: none;
    font-family: 'Livvic';
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    padding: 8px 30px;
    margin-top: 5px;
    /* padding-bottom: 83px; */
    /* justify-content: center; */
}

.section2Img {
    max-width: 200px;
    max-width: 200px;
    position: absolute;
    left: 0;
    bottom: -20px;
}





@media screen and (min-width: 768px) {

    /* cia rasom tablet css */

}

@media screen and (min-width: 1440px) {
    /* cia rasom desktop css */
}