@import url("/assets/styles/general.css");

@media only screen and (max-width: 600px) {

  /* Side Menu Elements */
  header .side_menu__container {
    height: 200vh;
  }
  header .bg_side_menu__container {
    height: 200vh;
  }
  /* Side Menu Elements */


  /* Contact Forms start */
  .section1_mobile {
    position: relative;
    overflow: hidden;
    background-color: #014e56;
  }

  .contact-title {
    display: flex;
    /* flex-wrap: wrap; */
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .contact-title_1 {
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    padding-bottom: 16px;
    padding-top: 50px;
  }

  .contact-title_2 {
    color: #f67e7e;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
  }

  .contact-info-wrapper {
    display: grid;
    grid-template-columns: 72px 232px;
    margin: 40px 24px 56px 24px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    column-gap: 23px;
    row-gap: 24px;
  }

  .contact-info_text {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    font-family: "Livvic";
    font-style: normal;
  }

  .contact-forms-wrapper {
    /* display: grid;
    grid-template-columns: 1fr; */
    /* row-gap: 24px; */
    position: relative;
    margin: 0px 24px 88px 24px;
  }

  .contact-forms-inputs {
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #fff;
    letter-spacing: -0.12px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding-bottom: 17px;
    margin-top: 24px;
    outline: none;
  }

  input:focus {
    border-bottom: 1px solid #79c8c7;
  }

  #contact-forms-inputs_top:focus {
    border-bottom: 1px solid #79c8c7;
  }

  .contact-forms-inputs_top {
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.12px;
    color: #fff;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding-bottom: 17px;
    outline: none;
  }

  input::placeholder {
    padding-left: 14px;
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    /* color: rgba(255, 255, 255, 0.6); */
    color: var(--c, rgba(255, 255, 255, 0.6));
  }

  .contact-forms-textarea_label {
    display: block;
    padding: 24px 0px 0px 14px;
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.6);
  }

  .contact-forms-inputs-textarea {
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.12px;
    color: #fff;
    width: 100%;
    height: 58px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    padding-bottom: 17px;
    padding-top: 24px;
    outline: none;
    overflow: hidden;
  }

  textarea:focus {
    border-bottom: 1px solid #79c8c7;
  }

  .contact-forms-inputs-submit {
    border-radius: 24px;
    border: 2px solid #fff;
    background: transparent;
    height: 48px;
    width: 123px;
    font-family: "Livvic";
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #fff;
    margin-top: 24px;
  }

  input.contact-forms-inputs-submit:hover {
    border-radius: 24px;
    border: 2px solid #fff;
    background: #fff;
    height: 48px;
    width: 123px;
    font-family: "Livvic";
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #002529;
    margin-top: 24px;
  }

  .contacts-svg_mobile {
    position: absolute;
    right: -124px;
    bottom: -200px;
  }

  .field-required {
    margin: 8px 0px 0px 14px;
    position: absolute;
    font-family: "Livvic";
    font-style: italic;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    color: #f67e7e;
  }

  .email-error {
    color: #f67e7e;
    padding-left: 14px;
    font-family: "Livvic";
    font-weight: 500;
    font-size: 10px;
    line-height: 13px;

  }

  /*footer_home mobile start */
  footer {
    height: 432px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    background: #002529;
  }

  footer .footerlogo {
    margin-top: 66px;
    align-items: center;
    width: 94.5px;
    height: 24px;
  }

  footer .footermenu {
    margin-top: 24px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    text-decoration: none;
  }

  footer .footermenu li a:hover {
    color: #f67e7e;
  }

  footer .footermenu li:first-child {
    padding-right: 24px;
  }

  footer .footericons {
    background: none;
    margin-top: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    text-decoration: none;
  }

  footer .footericons li:first-child,
  footer .footericons li:nth-child(2) {
    padding-right: 16px;
  }

  footer .footericons li:last-child {
    margin-top: 2.25px;
  }

  footer .footericons svg path:hover {
    fill: #f67e7e;
  }

  footer .address {
    height: 100px;
    width: 327px;
    margin: 24px 0 0;
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.6;
  }

  footer p {
    width: 255px;
    height: 25px;
    font-family: "Livvic";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin: 16px 0 64px;
  }

  /*footer-mobile end*/
}

/* cia rasom mobile css */
@media screen and (min-width: 768px) {}

@media screen and (min-width: 1440px) {
  /* cia rasom desktop css */
}